---

import Layout from '../layouts/base.astro';

const title = "Happy Diwali Wishes Greeting Generator 🪔";
const description = "Happy Diwali Greeting Wishes - May this Diwali bring prosperity, wealth, and success to you and your family.";

---

<Layout title={title} {description} >
<div class="container">
<div class="row justify-content-center">
<div class="post-content mb-5 mx-lg-2">
<div class="pt-5 px-5 pb-4 text-center">
<div id="result"></div>
<br />
<hr>
<br />
<button class="btn btn-success" id="dw-share">🎁 Share</button>&nbsp<button class="btn btn-danger" id="clipboardButton">📋</button>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row justify-content-center post-content">
<div class="card card-hover mb-5 mx-lg-2 form-card">
    <div class="card-body pt-5 px-5 pb-4 text-center">
        <form method="GET" action="create?name=" class="form-inline">
            <div class="input-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="your Name" required>
                <button class="btn btn-info" type="submit">Create</button>
              </div>
          </form>
          <br />
    </div>
  </div>
  <hr>
</div>
</div>
<br />
</Layout>

<script>
import Config from "../config.cjs";
import slugify from "slugify";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css"

const params = new URLSearchParams(window.location.search);
const data_clean = params.get("name") || "Hello World";
const seo_title = slugify(data_clean, {
  replacement: "-",
  remove: /[$*_+~.()'"!\-:@]+/g,
  lower: false,
  strict: false,
});
const user = encodeURIComponent(seo_title).replace(/%20/g, "-");
window.onload = () => {
  fetch("https://img.sanweb.info/dw/dw?name=" + user).then((response) => {
    console.log(response.status);
  });
};
const link = document.querySelector('link[rel="canonical"]')
  ? document.querySelector('link[rel="canonical"]')
  : document.createElement("link");
link.setAttribute("rel", "canonical");
link.setAttribute("href", Config.siteURL + "/create?name=" + user);
document.head.appendChild(link);
const word = user.replace(/[-]/g, " ");
document.title = `${decodeURIComponent(word)} 🪔 Sending you the Happy Diwali Greeting Wishes`;
document
    .getElementsByTagName('meta')
    .namedItem('description')
    .setAttribute(
        'content',
        `${decodeURIComponent(word)} Sending you the Happy Diwali Wishes - May this Diwali bring prosperity, wealth, and success to you and your family.`
    );
document.querySelectorAll('meta[property=og\\:title]')[0].setAttribute('content', `${decodeURIComponent(word)} 🪔 Sending you the Happy Diwali Greeting Wishes`);
document.querySelectorAll('meta[property=og\\:description]')[0].setAttribute('content', `${decodeURIComponent(word)} Sending you the Happy Diwali Wishes - May this Diwali bring prosperity, wealth, and success to you and your family.`);
document.querySelectorAll('meta[property=og\\:image]')[0].setAttribute('content', `https://img.sanweb.info/dw/dw?name=${user}`);
document.querySelectorAll('meta[property=og\\:image\\:alt]')[0].setAttribute('content', `${word}`);
window.addEventListener("DOMContentLoaded", (event) => {
const clipboardBtn = document.getElementById("clipboardButton");
if (clipboardBtn) {
    clipboardBtn.addEventListener("click", function() {
        const text = `https://diwali.sanweb.info/create?name=${user}`;
        navigator.clipboard.writeText(text);
        Toastify({
                text: 'URL Copied',
                duration: 2500,
                close: true,
                gravity: 'top',
                position: 'right',
                style: {
                    background: '#B33771',
                },
            }).showToast();
    });
  }
});
window.addEventListener("DOMContentLoaded", (event) => {
const dwshare = document.getElementById('dw-share');
 if (dwshare) {
    dwshare.addEventListener('click', () =>{
        if ('share' in navigator) {
            navigator.share({
                title: `${decodeURIComponent(word)} 🪔 Sending you the Happy Diwali Greeting Wishes`,
                text: 'May this Diwali bring prosperity, wealth, and success to you and your family.',
                url: `https://diwali.sanweb.info/create?name=${user}`,
            })
            .then(() => {
                console.log('Callback after sharing');
            })
            .catch(console.error);
        } else {
           Toastify({
                text: 'Native Web Share is not supported in this browser - Try to Download image and share.',
                duration: 2500,
                close: true,
                gravity: 'bottom',
                position: 'center',
                style: {
                    background: '#FC427B',
                },
            }).showToast();
        }
    });
  }
});
if (user) {
  if (window.history.replaceState) {
    window.history.replaceState(null, null, "/create?name=" + user);
    document.getElementById(
      "result",
    ).innerHTML = `<div class="justify-content-center alert alert-dark">Generating image...</div>`;
    const imageUrlToBase64 = async (url) => {
      const response = await fetch(url);
      const blob = await response.blob();
      return new Promise((onSuccess, onError) => {
        try {
          const reader = new FileReader();
          reader.onload = function () {
            onSuccess(this.result);
          };
          reader.readAsDataURL(blob);
        } catch (e) {
          onError(e);
        }
      });
    };
    const data_image = await imageUrlToBase64(
      `https://img.sanweb.info/dw/dw?name=${user}`,
    );
    setTimeout(() => {
      document.getElementById("result").innerHTML = `
                <div class="row justify-content-center">
                <div class="col-md-7 px-0">
                <img
                  src="${data_image}"
                  class="img-fluid mx-auto d-block"
                  width="850"
                  height="850"
                  loading="lazy"
                  decoding="async"
                  alt=${user}
                >
                </div></div><br /><br />
                <a class="btn btn-success" href="https://img.sanweb.info/dl/file?url=https://img.sanweb.info/dw/dw?name=${user}" title=${user} target="_blank" rel="nofollow noreferrer noopener">📥 Download</a>`;
    }, 1200);
  }
} else {
  if (window.history.replaceState) {
    window.history.replaceState(null, null, "/create?name=your-name");
    document.getElementById(
      "result",
    ).innerHTML = `<div class="justify-content-center alert alert-dark">Generating image...</div>`;
    setTimeout(() => {
      document.getElementById("result").innerHTML = `
                <div class="row justify-content-center">
                <div class="col-md-7 px-0">
                <img
                  class="img-fluid easeload"
                  style="
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: auto;"
                  onload="this.style.opacity=1"
                  src="https://img.sanweb.info/dw/dw?name=your-name"
                  loading="lazy"
                  decoding="async"
                  alt="your name"
                >
                </div></div><br /><br />
                <a class="btn btn-success" href="https://img.sanweb.info/dl/file?url=https://img.sanweb.info/dw/dw?name=your-name" title="your name" target="_blank" rel="nofollow noreferrer noopener">📥 Download</a>`;
    }, 1200);
  }
}

</script>